.paper p {
    margin-bottom: 0rem;
}

#contact {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.yahei {
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", "fangsong", SimSun, sans-serif;
}


h1,h2,h3 {
    font-family:  'Fredericka the Great', Georgia, 'Times New Roman', Times, serif, "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

#paper_title {
    font-family: 'Times New Roman', Times, serif, "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

#meta p{
    font-size: 1.4rem;
    margin-bottom: 0rem;
}

#intro {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


body {
    margin: auto;
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif, "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
};